<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" style="height: 100%;">
<head th:replace="~{fragments/header :: header}">
<title>Test</title>
</head>
<body style="height: 100%;">
<div class="container-fluid" style="min-height: 100%;">
  <div class="row" style="overflow: auto;padding-bottom: 120px;">
    <div class="col-sm-12" style="padding: 15px;">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">TITLE</th>
              <th scope="col">CREATE_TIME</th>
              <th scope="col">UPDATE_TIME</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${result.items}">
              <th scope="row" th:text="${user.id}"></th>
              <td th:text="${user.title}"></td>
              <td th:text="${user.createTime}"></td>
              <td th:text="${user.updateTime}"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div th:replace="~{fragments/footer :: footer}" style="position: relative;margin-top: -112px;height: 56px;clear:both;"></div>
</body>
</html>